.headline-container{display:grid;}
.headline .content-link{grid-template-columns:1fr; grid-gap:0; position:relative; color:var(--bg-2);}
.headline .content-thumb-frame{border-radius:0;}
.headline .content-thumb-frame:before{padding-top:56.25%;}
.headline .content-thumb-frame:after{content:''; display:block; position:absolute; z-index:1000; bottom:0; left:0; width:100%; height:100%;
background:linear-gradient(to bottom, transparent 34%, var(--color-text-2) 100%);}
.headline .content-link-info{position:absolute; z-index:2000; bottom:0; left:0; width:100%; padding:var(--size-4);}
.headline .content-link-category, .headline .content-link-date, .headline .content-link-desc{color:#E0E0E0;}





@media screen and (min-width:0px) and (max-width:1023px){
  .rancak-container{margin-top:0;}
  
  .headline{margin-bottom:calc(var(--size-4) * -1);}
  .headline .content-link:first-child .content-thumb-frame:before{padding-top:100%;}
}





@media screen and (min-width:1024px){
  .headline-container{grid-template-columns:repeat(3,1fr); border-radius:var(--rounded-2); overflow:hidden;}
  .headline .content-link:first-child{grid-column:1/4;}
  .headline .content-link:not(:first-child) .content-thumb-frame:before{padding-top:100%;}
  .headline .content-link:first-child .content-link-title{font-size:21px;}
  
}