.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
.sticky-link > span{position:relative;}
  
  

header .width-max > *{display:flex;}
header .sticky-logo{padding-left:var(--size-5);}
header .sticky-search-open{margin-right:var(--size-4);}



menu{display:flex !important; position:static !important; height:var(--size-6) !important;}



.rancak-container{margin-top:var(--size-5);}
.main-container{grid-template-columns:1fr 334px;}



.column-full{grid-column:1/3; margin:0 var(--size-5);}
.column-left{margin-left:var(--size-5);}
.column-right{margin-right:var(--size-5);}
.column-sticky{position:-webkit-sticky; position:sticky; top:var(--size-7); padding-bottom:0.1px;}
.column-allcategory{grid-template-columns:repeat(auto-fit, minmax(280px,1fr)); grid-column-gap:var(--size-6);}

.column-big .content-link{--thumb-size:224px; grid-gap:var(--size-4);}
.column-big .content-thumb-frame:before{padding-top:56.25%;}



footer > .width-max{padding:var(--size-4) var(--size-5);}