*,html{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:800}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.hide{display:none;}

:root{
  --site-container:975px;
  --space-1:5px;
  --space-2:8px;
  --space-3:13px;
  --space-4:21px;
  --space-5:34px;
  --space-6:55px;
  --body-padding:55px;
  --max-zindex:2147483648;
  --title-fontsize:16px;
  --color-background:#FCFCFC;
}

.rancak-dark, .rancak-dark :before, .rancak-dark :after{
  --color-background:#2A3344;
}

body, html{font-family:'DM Sans',sans-serif; font-size:14px; font-weight:400; letter-spacing:0.2px; font-feature-settings:'lnum' 1; 
color:var(--color-default); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth;}
body{overflow-x:hidden; position:relative; background-color:var(--color-background); padding-top:var(--body-padding);}
a{font-weight:bold;}
.btn, a.btn{padding:12px 20px; font-weight:normal; -webkit-appearance:none; text-align:center; text-transform:capitalize; display:flex;}
#btt, .watch-video-sharelist{display:none;}
.content_center{display:flex; justify-content:center; align-items:center;}
.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}
.search-box{position:relative; z-index:2;}
.search-field{position:relative; z-index:1; width:100%; background-color:var(--color-sticky); border:1px solid; padding-right:88px !important;}
.search-button{position:absolute; z-index:2; top:3px; right:3px; height:calc(100% - 6px);}
.section-title{position:relative; margin-bottom:var(--space-4);
display:grid; grid-template-columns:auto 1fr; grid-gap:var(--space-3);}
.section-title-icon .svgicon{width:auto; height:20px; position:relative; top:var(--space-1);}
.section-title-thumb{display:flex; align-items:center;}
.section-title-frame{width:34px; height:34px;}
.section-title-label{font-size:22px; font-weight:bold; text-transform:capitalize; display:flex; align-items:center;}
.section-title-link{font-size:14px;}
.share-box{display:flex; justify-content:space-between; border:1px solid rgba(0,0,0,0.05); padding:var(--space-1) var(--space-2);}
.share-box-label{margin:0 10px; font-weight:bold; font-size:18px;}
.share-list{display:flex;}
.share-list-link{position:relative; font-size:36px; line-height:0; width:32px; height:36px; font-weight:normal; margin:var(--space-1);}
.share-list-link .svgicon-share-ellipsis{position:absolute; z-index:2; top:6px; left:5px; font-size:22px;}
.sticky-link{height:var(--body-padding);}
.user-thumb{width:24px; height:24px; border-radius:50%;}

header{position:fixed; top:0; left:0; width:100%; z-index:calc(var(--max-zindex) - 2000);}
header > span{display:flex; justify-content:space-between;}
header .sticky-link{padding:0 var(--space-2);}
header .header-live .svgicon-live{width:auto; height:28px;}

.menu-box, .menu-link{position:relative;}
.menu-link{z-index:2; font-weight:bold;}
.menu-sub{display:none;}

.menu-kanal{display:grid; grid-auto-flow:column; align-items:center; overflow-x:auto;}
.menu-kanal .menu-link{padding:0 var(--space-3); height:var(--space-6); border-left:1px solid;}
.menu-kanal .menu-link:first-child{border-left:0;}

.site-container > span{width:100%; margin:0 auto; display:block;}
.main-container{display:grid; grid-gap:var(--space-5); grid-template-columns:1fr; margin-bottom:var(--space-4);}
.column-full-container, .column-big-container, .column-small-container{display:grid; grid-template-columns:1fr; grid-template-rows:min-content; 
grid-row-gap:var(--space-6);}

.article-list-container{display:grid; grid-template-columns:1fr; grid-gap:var(--space-3);}
.article-list-row{--thumb-size:96px; display:grid; grid-template-columns:var(--thumb-size) 1fr; grid-gap:var(--space-3); padding-bottom:var(--space-3);}
.article-list-nothumb{grid-template-columns:1fr !important;}
.article-list-info{display:flex; align-items:center;}
.article-list-info > span{display:flex; flex-wrap:wrap; gap:var(--space-2);}
.article-list-title{width:100%; font-weight:bold; font-size:var(--title-fontsize); line-height:140%; 
display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden;}
.article-list-kanal, .article-list-date{font-weight:normal; font-size:11px;}
.article-list-kanal{padding-right:var(--space-2); border-right:1px solid;}
.article-list-thumb-frame{width:var(--thumb-size);}
.article-list-thumb-frame:before{padding-top:100%;}
.article-list-thumb-frame .video-icon{position:absolute; z-index:2; top:0; left:0; bottom:0; right:0;}

.article-list-big{grid-template-columns:1fr !important;}
.article-list-big .article-list-thumb-frame{width:100% !important;}
.article-list-big .article-list-thumb-frame:before{padding-top:56.25% !important;}

.video-list-container{display:grid; grid-template-columns:repeat(auto-fit, minmax(160px,1fr)) !important; grid-gap:var(--space-3);}
.video-list-container .article-list-row{--thumb-size:100% !important; grid-template-columns:1fr; grid-gap:var(--space-2);}
.video-list-container .article-list-thumb-frame:before{padding-top:56.25%;}
.video-list-container .article-list-title{font-size:var(--title-fontsize);}
.video-list-container .article-list-kanal, .video-list-container .article-list-date{font-size:11px;}

.widget-schedule-container{min-height:427px;}

.program-list-box{border-radius:var(--rounded-small); overflow:hidden;}
.program-list-box:before{padding-top:177.77%;}
.program-list-box:hover{opacity:0.55;}

.schedule-label, .schedule-header{padding:15px var(--space-3);}
.schedule-label{text-align:center; border-bottom:1px solid;}
.schedule-header{display:flex; justify-content:space-between;}
.schedule-list{display:grid; padding:0 var(--space-3);}
.schedule-link{font-weight:normal; padding:var(--space-3) 0; border-top:1px dashed;}
.schedule-link:first-child{border-top:0;}
.schedule-title{font-size:16px; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden;}
.schedule-time{font-size:12px; margin-top:1px;}

.watch-video-player{position:relative;}
.watch-video-player:before{content:''; display:block; padding-top:56.25%;}
.watch-video-player iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
.watch-video-info{display:grid; grid-template-columns:auto 1fr auto;}
.watch-video-info > *{display:flex; align-items:center; padding:var(--space-4);}
.watch-video-info .svgicon{width:auto; height:18px;}

.popup-play-video, .popup-copied{display:none;}

.slotiklan{position:relative; overflow:hidden;}
.slotiklan-300x250{contain-intrinsic-size:1px 250px; height:250px;}
.slotiklan-320x50{contain-intrinsic-size:1px 50px; height:50px;}
.slotiklan-728x90{contain-intrinsic-size:1px 90px; height:90px;}
.slotiklan-970x200{contain-intrinsic-size:1px 200px; height:200px;}
.slotiklan-320x100{contain-intrinsic-size:1px 100px; height:100px;}
.slotiklan-160x600{contain-intrinsic-size:1px 600px; height:600px;}
.slotiklan-topdesktop{contain-intrinsic-size:1px 90px; min-height:90px;}
.iklan-native{contain-intrinsic-size:1px 106px; height:106px;}
.iklan-native iframe{width:100%; height:100%;}
    
.sticky-bottom{position:fixed; z-index:99; left:0; width:100%;}
.sticky-bottom-close{position:absolute; z-index:2; top:0; width:35px; height:25px;}

@media screen and (min-width:0px) and (max-width:359px){
  .share-box-label{font-size:13px;}
}

@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  .float-bottom{display:none;}
  .search-field{padding:var(--space-3);}
  .section-title-more{flex-wrap:wrap;}
  .section-title-more > *{width:100%;}
  body{padding-bottom:var(--body-padding);}
  
  header .header-logo{padding-left:var(--space-4);}
  header .header-togglemenu{padding-right:var(--space-4);}
  header .svgicon{width:auto; height:20px;}
  
  .menu-bottom{--icon-size:14px; position:fixed; bottom:0; left:0; width:100%; z-index:calc(var(--max-zindex) - 2000); display:flex;}
  .menu-bottom-withshare{--icon-size:18px;}
  .menu-bottom .sticky-link{width:100%;}
  .bottom-button{display:flex; padding:var(--space-2);}
  .bottom-icon{width:auto; height:var(--icon-size);}
  .bottom-name{font-size:11px; font-weight:bold; margin-left:var(--space-2); display:flex; align-items:center; letter-spacing:0.5px;}
  
  .menu-kanal{position:sticky; top:var(--body-padding); z-index:calc(var(--max-zindex) - 5000);}
  
  .base-container{margin:0 var(--space-3);}
  .base-container-movetop{margin-top:var(--space-4);}
  .main-container{grid-template-rows: auto 1fr;}
  
  .menu-kanal .iklan-topbanner-kanal{grid-column:1/3;}
  .iklan-topbanner-default{margin-bottom:calc(var(--space-4) * -1);}
  .iklan-topbanner-kanal{margin-top:calc(var(--space-5) * -1);}
    
  .sticky-bottom{bottom:var(--body-padding); height:50px;}
  .sticky-bottom-close{right:0;}
}