*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.hide{display:none;}



:root, :before, :after{
  --site-container:568px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:16px;
  --title-fontsize:20px;
  --float-status-height:42px;
  --bg-1:#2F132C; 
}



body, html{font-family:'Nunito',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth;}
body{background-color:var(--bg-1);}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.content_center{display:flex; justify-content:center; align-items:center;}
.section-title{text-align:center; margin-bottom:var(--size-3);}
.section-title b{display:block; text-align:center; font-weight:900;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



header{padding:0 var(--size-5);}
header > .width-max{display:grid; grid-template-columns:1fr 1fr;}
.header-idgs, .header-info{height:var(--size-7);}
.header-idgs{justify-content:flex-start;}
.header-idgs svg{width:auto;}
.header-idgs-title{font-weight:900; margin-left:var(--size-2); text-transform:uppercase; line-height:100%;}
.header-info{font-weight:900; justify-content:flex-end; align-content:center; flex-wrap:wrap;}
.header-info *{width:100%; text-align:right;}



.rancak-container{position:relative; min-height:calc(100vh - var(--size-5) - var(--size-7)); padding:var(--size-5);}
.rancak-container > .width-max{display:block;}
.rancak-main{display:grid; grid-gap:var(--size-5);}



.rancak-payment{display:grid; grid-template-columns:repeat(3,1fr);}
.rancak-payment-button{position:relative;}
.rancak-payment-button:before{content:''; display:block; padding-top:100%;}
.rancak-payment-frame{position:absolute; top:0; left:0; width:100%; height:100%; flex-wrap:wrap; align-content:center;}
.rancak-payment-frame > *{width:100%; text-align:center;}
.rancak-payment-icon .svgicon{height:auto;}
.rancak-payment-label{line-height:100%;}



.form-box{--form-height:var(--size-6); position:relative;}
.form-field{position:relative; z-index:1; width:100%; height:var(--form-height); border:1px solid; padding:0 var(--size-4);}
.form-note{font-size:11px; margin-top:var(--size-1);}
.form-submit-next, .form-password-toggle{position:absolute; z-index:1000; top:0; right:0; width:var(--form-height); height:var(--form-height);}
.form-submit-next .svgicon{width:auto; height:24px;}
.form-member{display:grid; grid-gap:var(--size-3);}
.form-password-toggle .svgicon{width:auto; height:18px;}
.form-password-hidden .svgicon-password-show,
.form-password-show .svgicon-password-hidden{display:none;}



.infobox{display:grid; grid-gap:var(--size-2);}
.infobox-row{display:grid; grid-gap:var(--size-3); grid-template-columns:144px 1fr;}
.infobox-data{font-weight:bold; text-align:right;}



.default-submit{display:grid; grid-gap:var(--size-3); grid-template-columns:repeat(auto-fit, minmax(var(--size-7),1fr)); margin-top:var(--size-3);}



footer{padding:0 var(--size-4); height:var(--size-5); display:flex; justify-content:center; align-items:center; font-size:12px;}







@media screen and (min-width:0px) and (max-width:1023px){
  .header-idgs svg{height:40px;}
  .header-idgs-title{font-size:20px; max-width:55px;}
  
  
  
  .rancak-payment{grid-gap:var(--size-3);}
  .rancak-payment-icon .svgicon{width:37%;}
  .rancak-payment-label{font-size:16px; margin-top:var(--size-2);}
  
  
  
  .infobox{font-size:14px; padding:var(--size-3);}
}







@media screen and (min-width:568px){
  .rancak-payment-label{font-size:20px; margin-top:var(--size-3);}
}







@media screen and (min-width:1024px){
  .header-idgs svg{height:48px;}
  .header-idgs-title{font-size:30px;}
  .header-info-name{font-size:20px;}
  
  
  
  .section-title{font-size:20px;}
  
  
  
  .rancak-payment{grid-gap:var(--size-4);}
  .rancak-payment-icon .svgicon{width:64px;}
  .rancak-payment-label{font-size:24px; margin-top:var(--size-4);}
  
  
  
  .infobox{font-size:16px; padding:var(--size-4);}
}